<% provide(:title, "Home") %>
<% if logged_in? %>
<br>
<div class="container">
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-action light-blue darken-2 white-text">
                    <h6>User Information</h6>
                </div>
                <center>
                <div class="card-image">
                    <%= render 'shared/user_info' %>
                </div>
                <div class="card-content">
                    <h3><%= current_user.name %></h3>
                    <h4><%= current_user.email %></h4>
                </div>        
                </center>
            </div>
            <div class="card">
                <div class="card-action light-blue darken-2 white-text">
                    <h6>User Status</h6>
                </div>
                <div class="card-content"> 
                    <center>
                        <% total = current_user.categories.collect {|category| category.words.count}.sum %> 
                        <h4><%= link_to "Words Learned: #{total}", words_path %></h4>
                        <div class = "status">
                            <%= render 'shared/stats' %>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <div class="col s8">
            <div class="card">
                <div class="card-action light-blue darken-2 white-text"><h6> Activity Feed </h6></div>
                <ul class="collection">
                    <%= render 'activity/feed'%>
                </ul>
                <%= will_paginate @activities %>
            </div>
        </div>
    </div>
</div>
<% else %>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center">Starter Template</h1>
        <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
            <%= link_to "Get Started", signup_path, class: "btn-large waves-effect waves-light", id:"download-button" %>
        </div>
        <br><br>
    </div>
</div>
<% end %>