<%= form_for([:admin, @category, @word]) do |f| %>
    <%= render 'shared/error_messages', object: @word %>
    <div class="form-field">
        <%= f.label :content, "Word" %>
        <%= f.text_field :content %>    
    </div>
    <div class="form-field">
        <%= f.label "Choices" %>
        <%= f.fields_for :choices do |choice| %>
            <%= choice.text_field :content %>
            <%= choice.label :correct, class: "checkbox inline" do %>
                <%= choice.check_box :correct %>
                <span>Correct</span>
            <% end %>
        <% end %>
    </div> 
    <br>
    <div class="form-field">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </div>
<% end %>
