<% provide(:title, @user.name) %>
<br>
<div class="container">
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-action light-blue darken-2 white-text">
                    <h6>User Information</h6>
                </div>
                <div style = "text-align:center;">
                    <div class="card-image">
                        <%= gravatar_for @user %>
                    </div> 
                    <div class="card-content">
                        <h3><%= @user.name %></h3>
                        <h4><%= @user.email %></h4>
                    </div>  
                </div> 
            </div>
            <div class="card">
                <div class="card-action light-blue darken-2 white-text">
                    <h6>User Status</h6>
                </div>
                <div class="card-content" style="text-align:center;">
                    <% total = @user.answers.count %>  
                    <h4><%= "Words Learned: #{total}"%></h4>
                    <div class = "status">
                    <%= render 'shared/stats' %> <br> <br>
                    <%= render 'follow_form' if logged_in? %>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-action light-blue darken-2 white-text">
                    <h6>Calendar </h6>
                </div>
                <br>
                <iframe src="https://calendar.google.com/calendar/embed?height=410&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FManila&amp;src=bWFwYWpvaG5lZGVsQGdtYWlsLmNvbQ&amp;src=ZWg4cmY4ZWsyaDdwZWYzNzFvY21udG44MzhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4uY2hyaXN0aWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y2xhc3Nyb29tMTA4MDI1NjcwOTEwOTM0MzM2NzIzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=ZW4ucGhpbGlwcGluZXMjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%237986CB&amp;color=%23F4511E&amp;color=%230B8043&amp;color=%23263238&amp;color=%230B8043&amp;showTitle=0&amp;showPrint=0&amp;showNav=1&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1" style="border-width:0" width="293" height="315" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
          <div class="col s8">
            <div class="card">
                <div class="card-action light-blue darken-2 white-text"> 
                    <h6>Activity Feed</h6> 
                </div>
                <ul class="collection">
                    <%= render 'activity/feed' if logged_in?%>
                </ul>
                 <%= will_paginate @activities %>
            </div>
        </div>
    </div>
</div>