<% provide(:title, @user.name) %>
<br>
<div class="container">
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-action light-blue darken-2 white-text">
                    <h6>User Information</h6>
                </div>
                <center>
                <div class="card-image">
                    <%= gravatar_for @user %>
                </div>
                </center>
                <div class="card-content">
                    <h3><%= @user.name %></h3>
                    <h4><%= @user.email %></h4>
                </div>   
            </div>
            <div class="card">
                <div class="card-action light-blue darken-2 white-text">
                    <h6>User Status</h6>
                </div>
                <div class="card-content">
                    <center> 
                        <h4> Word Learned: 0</h4>
                        <div class = "status">
                        <%= render 'shared/stats' %> <br> <br>
                        <%= render 'follow_form' if logged_in? %>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <div class="col s8">
            <div class="card-panel light-blue darken-2 white-text">Activity Feeds</div>
        </div>
    </div>
</div>