<% @activities.each do |activity| %>
    <% if activity.action.instance_of?(Relationship) %>
        <li class="collection-item">
            <% if current_user.name == activity.user.name %>
                <h6><b>You</b> followed <%= link_to activity.action.followed.name, activity.action.followed %></h6>
                <p><%= time_ago_in_words(activity.action.created_at)%> ago.</p>
            <% else %>
                <h6><b><%= activity.user.name %></b> followed <%= link_to activity.action.followed.name, activity.action.followed %>
                </h6>
                <p><%= time_ago_in_words(activity.action.created_at)%> ago.</p>
            <% end %>
        </li>
        <% elsif activity.action.instance_of?(Lesson) %>
            <li class="collection-item">
                <% if current_user.name == activity.user.name %>
                    <h6><b>You</b> <%="learned #{activity.action.score} of #{activity.action.words.count } in " %>
                        <%= link_to activity.action.category.title, activity.action %></h6>
                    <p><%= time_ago_in_words(activity.action.created_at)%> ago.</p>
                <% else %>
                    <h6><b><%= activity.user.name %></b> <%="learned #{activity.action.score} of #{activity.action.words.count } in " %>
                        <%= link_to activity.action.category.title, activity.action %></h6>
                    <p><%= time_ago_in_words(activity.action.created_at)%> ago.</p>
                <% end %>
            <li>
    <% end %>
<% end %>
