<% provide(:title, "Lesson - Results")%>
<div class=container>
    <div class=row>
        <div class="col s10">
            <h1> <%= @lesson.category.title %> </h1>
        </div>
        <div class="col s2">
            <h3> <%= @lesson.score %> / <%= @lesson.category.words.count %></h3>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Your Answer</th>
                    <th>Correct Answer</th>
                </tr>
            </thead>

            <tbody>
                <% @lesson.answers.each do |answer| %>                
                    <tr>
                        <td><%= answer.word.content %></td>
                        <td><%= answer.choice.content %></td>
                        <td><%= answer.word.correct_ans %></td>
                        <% if answer.choice.content == answer.word.correct_ans %>
                            <td> <i class="small material-icons">check</i> </td> 
                        <% else %>
                            <td> <i class="small material-icons">close</i> </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>