<nav>
    <div class="nav-wrapper light-blue darken-2">
        <div class="container">
            <%= link_to "ESL", root_path, class: "brand-logo" %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><%= link_to "Home", root_path %></li>
                <% if logged_in? %>
                    <li><%= link_to "Members", users_path %></li>
                    <li><%= link_to "Categories", categories_path %></li>
                    <ul id="dropdown1" class="dropdown-content">
                        <% if current_user.admin? %>
                            <li><%= link_to "Manage Categories", admin_categories_path %></li>
                        <% end %>
                        <li><%= link_to "Profile", current_user %></li>
                        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                        <li class="divider"></li>
                        <li><%= link_to "Log out", logout_path, method: :delete %></li>
                    </ul>
                    <li><a href="" class="dropdown-button" data-activates="dropdown1">Account<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                <% else %>
                    <li><%= link_to "Login", login_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>

